h1 
{   text-shadow: -2px -2px 4px green;
    font-size: 200%; 
    color: red;
}

header
{
    border-bottom: 2px solid red;
}

ul li 
{
    display: inline;
}

ul a 
{
    font-size: 200%;
    text-decoration: none;
    border: 2px solid orangered;
    border-radius: 1em;
    margin-right: 10px;
    padding: 10px;
    color: black;
    background-color: lightskyblue;
}

body
{
    margin: 0;
}

img
{
    width: 100%;
}