@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');


h1, h2, h3 
{   
    color: black;
    font-family: Marcellus, Verdana;
    text-decoration: underline;
    text-align: center;
}

/*header
{
    border-bottom: 2px solid red;
}

ul li 
{
    display: inline;
}

ul a 
{
    font-size: 200%;
    text-decoration: none;
    border: 2px solid orangered;
    border-radius: 1em;
    margin-right: 10px;
    padding: 10px;
    color: black;
    background-color: lightskyblue;
}
*/

body
{
    font-family: Jost, Arial;
    font-size: 40px;
    background-color: aquamarine;
    margin-left: 10%;
    margin-right: 10%;
}

.fullWidthContent 
{
    width: 100%;
}

#mainText 
{
    color: black;
    font-family: Arial;
    text-align: justify;
}

a 
{
    font-size: 2em;
    color: blue;
    text-align: center;
    text-decoration: none;
}

.anchorLarge 
{
    margin-right: 4%;
    margin-left: 4%;
}